@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: false;
  color-scheme: "dark";

  --color-base-100: oklch(14% 0.005 285.823);
  --color-base-200: oklch(21% 0.006 285.885);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(96% 0.001 286.375);

  --color-primary: oklch(89% 0.196 126.665);
  --color-primary-content: oklch(12% 0.042 264.695);

  --color-secondary: oklch(59% 0.293 322.896);
  --color-secondary-content: oklch(97% 0.017 320.058);

  --color-accent: oklch(68% 0.162 75.834);
  --color-accent-content: oklch(98% 0.026 102.212);

  --color-neutral: oklch(21% 0.006 285.885);
  --color-neutral-content: oklch(98% 0 0);

  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);

  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);

  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);

  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);

  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 2rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 2px;
  --depth: 0;
  --noise: 0;
}
